* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1024px;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 250px;
}

.add-category-item {
    display: flex;
    justify-content: space-around;
}

.item-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: 700;
    font-size: 30px;
}

label {
    margin-top: 10px;
}

.item-form input[type="submit"] {
    padding: 10px;
    margin: 20px 0 30px 0;
}

textarea {
    resize: none;
}

#categoryLinks {
    margin-top: 10px;
    margin-left: 20px;
}

#categoryLinks li a {
    text-decoration: none;
}

.category-form input[type="submit"] {
    padding: 10px;
}